@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'montserrat';
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
}
body {
    overflow-x: hidden;
}
#cursor
{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #95C11E;
    position: fixed;
    z-index: 999;
    box-shadow:0px 0px 200px 100px #95C11E;
    /* transition: all 0.2s linear; */

    
}
#nav
{
    /* background-color: #00ffff; */
    height: 120px;
    width: 100vw;
    padding: 0px 110px;
    display: flex;
    align-items: center;
    gap: 60px;
    position: fixed;
    z-index: 99;
}
#nav img{
    height: 70px;
}
#nav h4{
    font-weight: 600;
    font-size: 16px;
}
video{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
.main
{
    position: relative;
    background-color: rgba(0, 0, 0, 0.443);
    z-index: 1;
    width: 100%;
}
#page-1{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}
#page-1 h1{
    font-size: 110px;
    font-weight: 900;
    position: relative;
}
#page-1 h1::before
{
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    z-index: -1;
    top: -6px;
    left: -6px;
    color: #000;
    /* background-color: aqua; */
    -webkit-text-stroke: 2px #95C11E
    
}
#page-1 h2{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 15px;
}
#page-1 p{
    font-size: 20px;
    font-weight: 600;
    width: 50%;
}
#page-2
{    
    /* height: 100vh; */
    width: 100vw;
    /* background-color: #95C11E; */
}
.scroller
{
    /* background-color: red; */
    white-space: nowrap;
    /* overflow-x: auto;  */
    overflow-y: hidden; 
}
.scroller::-webkit-scrollbar{
    display: none;
}
@keyframes move {
    from
    {
        transform: translateX(0);
    }
    to
    {
        transform: translateX(-100%);
    }
    
}
.scroll1
{
    display: inline-block;
    white-space: nowrap;
    animation-name: move;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.scroller h4{
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block ;
    font-size: 120px;
    -webkit-text-stroke: 1px #fff;
    color: black;
    margin-right: 50px;
    font-weight: 900;
    transition: all linear 0.5s;

}
.scroller h4:hover
{
    color: #95C11E;
    -webkit-text-stroke: 1px #95C11E;
}
#about
{
    /* height: 200px; */
    /* background-color: red; */
    display: flex;
    margin-top: 10%;
    align-items: center;
    justify-content: space-evenly;
}
#about img{
    height: 200px;
    width: 170px;
    object-fit: cover;
    border-radius: 10px;
}
#aboutus
{
    display: flex;
    flex-direction: column;
    text-align: center;
    /* background-color: red; */
    width: 50%;
    gap: 20px;
}
#aboutus p{
    font-size: 20px;
    line-height: 40px;
    /* font-weight: 500; */
}
#aboutus h4{
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;

}
#card-container{
    height: 650px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    margin: 60px 0px;
}
.card{
    height: 520px;
    width: 360px;
    background-color: #fff;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
#c1{
    background-image: url(assets/card1.avif)
}
#c2{
    background-image:url(assets/card2.webp)
}
#c3{
    background-image:url(assets/card3.avif)
}
.card-screen{
    height: 100%;
    width: 100%;
    background-color: #95C11E;
    padding: 20px 30px;
    /* display: none; */
    opacity: 0;
    transition: all linear 0.5s;
}
.card-screen h4{
    font-size: 38px;
    color: #000;
    font-weight: 800;
    margin: 30px 0px;
    line-height: 45px;
    text-transform: uppercase;
}
.card-screen p{
    font-size: 18px;
    color: #000;
    line-height: 30px;
    margin: 20px 0px;
    font-weight: 500;

}
.card:hover .card-screen{
    opacity: 1;
}
.news{
    height: 300px;
    width: 100%;
    background-color: #95C11E;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}.news #rotate{
    transform: rotate(180deg)

}
.news img{
    height: 525px;
    object-fit: cover;
    object-position: right;
}
.news h4{
    font-size: 30px;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    text-align: center;
    line-height: 50px;
}
